asyncpg
asyncache
cachetools

Faker

# migration versioning
alembic
psycopg2
sqlalchemy

# http controller

aiohttp
aiohttp-cors

# redis (nosql) DB
aioredis


#pip install locust      #for locust tests